<ion-view view-title="Dashboard">
  <ion-content class="padding">
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Term
    </div>
    <select>
      <option selected> </option>
      <option>2015 Fall Quarter</option>
      <option>2015 Summer Quarter</option>
      <option>2015 Spring Quarter</option>
      <option>2015 Winter Quarter</option>
      <option>2014 Fall Quarter</option>
    </select>
  </label>
  
    <label class="item item-input item-select">
    <div class="input-label">
      Session
    </div>
    <select>
      <option selected>All Sessions</option>
    </select>
  </label>
  
    <label class="item item-input item-select">
    <div class="input-label">
      Status
    </div>
    <select>
      <option selected>Open Classes</option>
      <option>All Classes</option>
    </select>
  </label>

</div>
  </ion-content>
</ion-view>
